# create a code that will run on our server before it loads on our website aka config file for our server

# url rewrite

RewriteEngine on

# Does not apply to folders that exist
RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory with .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

# Grab the entire URL if the 2 conditions above
# L (rule will run only if the rule above are satisfied)
RewriteRule ^(.*)$ $1.html [NC,L]
