#example.com/page will display the contents of example.com/page.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]

#301 from example.com/page.html to example.com/page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

RewriteRule https://rachelquan.github.io/index.html / [NC,L] 
RewriteRule https://rachelquan.github.io/code/code.html /code [NC,L]
RewriteRule https://rachelquan.github.io/design/design.html /design [NC,L]
RewriteRule https://rachelquan.github.io/about/about.html /about [NC,L]

RewriteRule https://rachelquan.github.io/design/cutie.html /design/cutie [NC,L]
RewriteRule https://rachelquan.github.io/design/citrus.html /design/citrus [NC,L]
RewriteRule https://rachelquan.github.io/design/rose.html /design/rose [NC,L]
